# Домашнее задание к лекции "Базовые понятия статистики"

## Обязательная часть

Будем осуществлять работу с непростым [набором данных](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv) о состоянии здоровья лошадей, испытывающих кишечные колики. 

### Задание 1. Базовое изучение

Изучить представленный набор данных на основе [описания его столбцов](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names) и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

### Задание 2. Работа с выбросами

В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

### Задание 3. Работа с пропусками

Рассчитать количество выбросов для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

In [1]:
import pandas as pd

# Задание 1. Загрузка данных

In [2]:
colnames = ['surgery', 'Age', 'Hospital Number', 'rectal temperature','pulse', 'respiratory rate',\
'temperature of extremities', 'peripheral pulse','mucous membranes','capillary refill time',\
'pain', 'peristalsis', 'abdominal distension', 'nasogastric tube', 'nasogastric reflux',\
'nasogastric reflux PH', 'rectal examination', 'abdomen', 'packed cell volume', 'total protein',\
'abdominocentesis appearance', 'abdomcentesis total protein', 'outcome', 'surgical lesion',\
'type of lesion1', 'type of lesion2', 'type of lesion3', 'cp_data']

df = pd.read_csv('https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv', names = colnames, header=None, na_values='?')

In [3]:
df.head()

,surgery,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,...,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion,type of lesion1,type of lesion2,type of lesion3,cp_data
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [4]:
#по условию задания оставляем 8 колонок
df.drop(columns=['Hospital Number',\
'peripheral pulse','mucous membranes','capillary refill time',\
'peristalsis', 'abdominal distension', 'nasogastric tube', 'nasogastric reflux',\
'nasogastric reflux PH', 'rectal examination', 'abdomen', 'packed cell volume', 'total protein',\
'abdominocentesis appearance', 'abdomcentesis total protein', 'surgical lesion',\
'type of lesion1', 'type of lesion2', 'type of lesion3', 'cp_data'], inplace=True)

# Задание 2. Первичное изучение данных

In [5]:
df.info() #Смотрим кол-во пропусков в данных и типы данных

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [6]:
df.describe() #расчитываем базовые статистики

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [7]:
#предполагаем опечатку в Age и заменяем 9 на 2
df['Age'].replace({9:2}, inplace = True)

In [8]:
#Количественные pulse и respiratory rate имеют не нормальное распределение - видим по значению std. 
#Но из-за специфики датасета завышенные и заниженные значения могут встречаться. 
#Например, если мы уберем максимумы, то std изменится незначительно. Поэтому работаем со всеми данными.

print(df[(df['pulse'] > 30) & (df['pulse'] < 184)]['pulse'].std())
print(df[(df['respiratory rate'] > 8) & (df['respiratory rate'] < 96)]['respiratory rate'].std())

27.742254830515
16.634562213447367

# Задание 3. Работа с пропусками

In [9]:
#Посчитаем кол-во пропусков
df.isna().sum()

surgery                        1
Age                            0
rectal temperature            60
pulse                         24
respiratory rate              58
temperature of extremities    56
pain                          55
outcome                        1
dtype: int64

In [10]:
#Посчитаем процент пропусков
(df.isna().mean() * 100).round(2)

surgery                        0.33
Age                            0.00
rectal temperature            20.00
pulse                          8.00
respiratory rate              19.33
temperature of extremities    18.67
pain                          18.33
outcome                        0.33
dtype: float64

In [11]:
#Определяем количественные непрерывные атрибуты
for col in df.columns.values:
    if (len(df[col].value_counts())> 5) and (df[col].isnull().sum() > 0):
        print(col)

rectal temperature
pulse
respiratory rate

In [12]:
#Количественные заменяем на их медианные значения 
df['rectal temperature'].fillna(df['rectal temperature'].median(), inplace = True)
df['pulse'].fillna(df.groupby('pain')['pulse'].transform('median'), inplace = True) #чем сильнее боль, тем выше пульс
df['pulse'].fillna(df['pulse'].median(), inplace = True) #в 8 строках нет атрибута pain , поэтому просто медиану берем для них
df['respiratory rate'].fillna(df['respiratory rate'].median(), inplace = True) #большой разброс значений, бесполезный атрибут

In [13]:
#Для категориальных переменных используем моду
df['surgery'].fillna(df['surgery'].mode()[0], inplace = True) #всего 1 значение пропущено
df['temperature of extremities'].fillna(df['temperature of extremities'].mode()[0], inplace = True)
df['pain'].fillna(df['pain'].mode()[0], inplace = True)
df['outcome'].fillna(df['outcome'].mode()[0], inplace = True)

In [14]:
#Проверяем пропуски
df.isna().sum()

surgery                       0
Age                           0
rectal temperature            0
pulse                         0
respiratory rate              0
temperature of extremities    0
pain                          0
outcome                       0
dtype: int64

In [15]:
df.head()

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,3.0,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,3.0,3.0,2.0

In [16]:
#проверяем, как повлияло заполнение пропусков на датасет. 
df.describe()

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000
mean,1.396667,1.080000,38.174333,72.106667,29.273333,2.470000,2.960000,1.550000
std,0.490023,0.271746,0.654831,27.658971,16.010979,0.975845,1.181689,0.736642
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.900000,48.000000,20.000000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.200000,65.500000,24.500000,3.000000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,34.250000,3.000000,4.000000,2.000000
max,2.000000,2.000000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000

## Дополнительная часть (необязательная)

Выполнить задания 1-3 для всего набора данных.

#### ПРИМЕЧАНИЕ
Домашнее задание сдается ссылкой на репозиторий [GitHub](https://github.com/).
Не сможем проверить или помочь, если вы пришлете:
- файлы;
- архивы;
- скриншоты кода.

Все обсуждения и консультации по выполнению домашнего задания ведутся только на соответствующем канале в slack.

##### Как правильно задавать вопросы аспирантам, преподавателям и коллегам
Прежде чем задать вопрос, попробуйте найти ответ в интернете. Навык самостоятельного поиска информации — один из важнейших. Каждый практикующий специалист любого уровня делает это ежедневно.

Сформулируйте вопрос по алгоритму:  
1) Что я делаю?  
2) Какого результата я ожидаю?  
3) Как фактический результат отличается от ожидаемого?  
4) Что я уже попробовал сделать, чтобы исправить проблему?  

По возможности прикрепите к вопросу скриншоты либо ссылки на код. Не выкладывайте все решение, оставляйте только проблемный и воспроизводимый участок кода.