# Задание 1

Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
The Moscow Times - Wednesday, October 2, 2002
The Guardian - Friday, 11.10.13
Daily News - Thursday, 18 August 1977

In [2]:
from datetime import datetime as dt

In [2]:
msc_times = 'Wednesday, October 2, 2002'
guardian = 'Friday, 11.10.13'
daily_news = 'Thursday, 18 August 1977'

In [3]:
print(dt.strptime(msc_times, '%A, %B %d, %Y')) #The Moscow Times

2002-10-02 00:00:00

In [4]:
print(dt.strptime(guardian, '%A, %d.%m.%y')) #The Guardian

2013-10-11 00:00:00

In [5]:
print(dt.strptime(daily_news, '%A, %d %B %Y')) #Daily News

1977-08-18 00:00:00

# Задание 2

Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']
Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [6]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

In [7]:
def parse_date(date, d_format = '%Y-%m-%d'):
    try:
        dt.strptime(date, d_format)
        return True
    except:
        return False

In [8]:
for date in stream:
    if parse_date(date):
        print(True)
    else:
        print(False)

True
False
False

# Задание 3

Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [3]:
from datetime import timedelta

In [10]:
def date_range(start_date, end_date, d_format = '%Y-%m-%d'):

    try:
        start_date_dt = dt.strptime(start_date, d_format)
        end_date_dt = dt.strptime(end_date, d_format)
        if start_date_dt <= end_date_dt:
            current_dt = start_date_dt 
            while current_dt <= end_date_dt:
                print(current_dt.strftime(d_format))
                current_dt += timedelta(days=1)
        else:
            print(list())
    except:
        print(list())

In [22]:
#доработано с учетом рекомендации от преподавателя
def date_range(start_date, end_date, d_format = '%Y-%m-%d'):
    try:
        start_date_dt = dt.strptime(start_date, d_format)
        end_date_dt = dt.strptime(end_date, d_format)
    except:
        return []
    
    if start_date_dt <= end_date_dt:
            current_dt = start_date_dt 
            while current_dt <= end_date_dt:
                print(current_dt.strftime(d_format))
                current_dt += timedelta(days=1)
    else:
        return []

In [13]:
date_range('2022-01-01', '2022-01-10')

2022-01-01
2022-01-02
2022-01-03
2022-01-04
2022-01-05
2022-01-06
2022-01-07
2022-01-08
2022-01-09
2022-01-10

In [24]:
date_range('2022-31-10', '2022-01-10')

[1]

# Задание 4 (необязательное)
Задание:

1. Что значит ошибка list index out of range?
2. Почему при первом запуске функция работает корректно, а при втором - нет?

In [13]:
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
    """
    Удаляет из списка default_list последнего пользователя
    и возвращает ID нового последнего пользователя.
    """
    element_to_delete = default_list[-1]
    default_list.remove(element_to_delete)
    return default_list[DEFAULT_USER_COUNT-2]

In [15]:
delete_and_return_last_user(1)

IndexError: list index out of range

#Ответ

1. Задание 1

Попытка обратиться к элементу списка с несуществующим индексом.

2. Задание 2

Когда мы запускаем ф-ию первый раз список содержит 3 элемента с индексами [0], [1], [2]. C помощью метода remove мы удаляем последнее значение из списка и получаем список с индексами [0] и [1]. Далее возвращаем результат default_list[1] и получаем требуемый результат.

При повторном запуске у нас в списке 2 элемента с индексами 0 и 1. Когда мы возвращаем результат, то происходит обращение к индексу default_list[1], но мы перед этим удалили элемент с индексом [1] и в списке остался только элемент с индексом [0]. Поэтому при обращении к несуществующему индексу и возникает ошибка.